h1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    vertical-align: middle;
}

span{
    float: right;
    margin-right: 300px;
    vertical-align: middle;
}

span i{
    margin-left: 200px;
    margin-top: 20px;
}
