.app{
    border-radius: 4px;
    margin-top: 20px;
    padding: 30px;
    background: white;
}

.alert{
    background-color: rgba(0, 172, 66, 0.507);
    color: rgb(0, 128, 11);
    font-weight: bold;

}

.taskStatus{
    display: flex;

}

.taskStatus label{
    margin-right: 30px;
}

