/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background: #02AAB0;
    background: -webkit-linear-gradient(left, #00CDAC, #02AAB0);
    background: -moz-linear-gradient(left, #00CDAC, #02AAB0);
    background: -o-linear-gradient(left, #00CDAC, #02AAB0);
    background: linear-gradient(to right, #00CDAC, #02AAB0);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
